.custom-range-slider .range-slider__thumb[data-lower] {
  width: 0;
}
  
.custom-range-slider .range-slider__range {
  border-radius: 6px;
}


#range-slider-red .range-slider__range {
  background: red;
  transition: height 0.3s;
}
    
#range-slider-red .range-slider__thumb {
  background: red;
  transition: transform 0.3s;
}

#range-slider-green .range-slider__range {
  background: green;
  transition: height 0.3s;
}
    
#range-slider-green .range-slider__thumb {
  background: green;
  transition: transform 0.3s;
}

#range-slider-blue .range-slider__range {
  background: blue;
  transition: height 0.3s;
}
    
#range-slider-blue .range-slider__thumb {
  background: blue;
  transition: transform 0.3s;
}

.custom-range-slider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}
        
.custom-range-slider .range-slider__range[data-active] {
  height: 16px;
}

#gradient-box {
  background-image: linear-gradient(to bottom right, red, orange, yellow, green, blue, indigo, violet);
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.color-text {
  color: white;
}

.color-block {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  position: relative;
  padding:10px;
}

.move-block-left {
  animation:move_left 3s ease-in-out forwards;
}

.move-block-right {
  animation:move_right 3s ease-in-out forwards;
}

@keyframes move_left {
  0% { transform: translateX(0px);}
  100% { transform: translateX(-25%);}
}

@keyframes move_right {
  0% { transform: translateX(0);}
  100% { transform: translateX(25%);}
}

@font-face {
  font-family: 'digital-clock-font';
  src: url('../../../Downloads/digital-7/digital-7.ttf');
}